body {
    background-color: ivory;
    background-image: url(assets/circles-dark.png);
    font-size: 1.3em;
    margin: 0;
    min-width: 450px;
}

body * {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

#body-color-filter {
    background-color: ivory;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
}